<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mapper.CommentMapper">

    <resultMap id="CommentMap" type="com.movie.entity.Comment">
        <id column="comment_id" property="commentId"/>
        <result column="movie_id" property="movieId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="like_count" property="likeCount"/>
        <result column="reply_to" property="replyTo"/>
        <result column="is_edited" property="isEdited"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="username" property="username"/>
        <result column="movie_name" property="movieName"/>
        <result column="current_rating" property="currentRating"/>
        <result column="reply_to_username" property="replyToUsername"/>
        <collection property="replies" ofType="com.movie.entity.Comment"
                    select="findRepliesByParentId" column="comment_id"/>
    </resultMap>

    <select id="findCommentsByMovieId" resultMap="CommentMap">
        SELECT c.*, u.username, m.movie_name, col.personal_rating as current_rating,
               ru.username as reply_to_username
        FROM movie_comment c
                 JOIN user u ON c.user_id = u.user_id
                 JOIN movie_public m ON c.movie_id = m.movie_id
                 LEFT JOIN movie_collection col ON col.user_id = c.user_id AND col.movie_id = c.movie_id
                 LEFT JOIN user ru ON ru.user_id = c.reply_to
        WHERE c.movie_id = #{movieId} AND (c.reply_to IS NULL OR c.reply_to = 0)
        ORDER BY c.create_time DESC
    </select>

    <select id="findRepliesByParentId" resultType="com.movie.entity.Comment">
        SELECT c.*, u.username, col.personal_rating as current_rating
        FROM movie_comment c
                 JOIN user u ON c.user_id = u.user_id
                 LEFT JOIN movie_collection col ON col.user_id = c.user_id AND col.movie_id = c.movie_id
        WHERE c.reply_to = #{comment_id}
        ORDER BY c.create_time ASC
    </select>

    <select id="findCommentById" resultMap="CommentMap">
        SELECT c.*, u.username, m.movie_name
        FROM movie_comment c
                 JOIN user u ON c.user_id = u.user_id
                 JOIN movie_public m ON c.movie_id = m.movie_id
        WHERE c.comment_id = #{commentId}
    </select>

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO movie_comment (movie_id, user_id, content, reply_to)
        VALUES (#{movieId}, #{userId}, #{content}, #{replyTo})
    </insert>

    <update id="updateComment">
        UPDATE movie_comment
        SET content = #{content},
            is_edited = TRUE,
            update_time = NOW()
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteComment">
        DELETE FROM movie_comment WHERE comment_id = #{commentId}
    </delete>

    <select id="findCommentsByUserId" resultMap="CommentMap">
        SELECT c.*, u.username, m.movie_name
        FROM movie_comment c
                 JOIN user u ON c.user_id = u.user_id
                 JOIN movie_public m ON c.movie_id = m.movie_id
        WHERE c.user_id = #{userId}
        ORDER BY c.create_time DESC
    </select>

    <select id="findCommentsByTmdbId" resultMap="CommentMap">
        SELECT c.*, u.username, m.movie_name
        FROM movie_comment c
                 JOIN user u ON c.user_id = u.user_id
                 JOIN movie_public m ON c.movie_id = m.movie_id
        WHERE m.tmdb_id = #{tmdbId}
        ORDER BY c.create_time DESC
    </select>

    <select id="findCommentByUserAndMovie" resultMap="CommentMap">
        SELECT c.*, u.username, m.movie_name
        FROM movie_comment c
                 JOIN user u ON c.user_id = u.user_id
                 JOIN movie_public m ON c.movie_id = m.movie_id
        WHERE c.user_id = #{userId} AND c.movie_id = #{movieId}
            LIMIT 1
    </select>

</mapper>